@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    position: relative;
    
    
}

.navegação {

    position: sticky;
    top: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #FFF;
 
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo {
    font-size: 1.5rem;
    color: red;
    font-weight: 600;
    letter-spacing: 1px;
}

span {
    color: black;
}

.nav-list {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 3rem;
}

.nav-item {
    color: black;
    font-size: 1.1rem;
    

    &:hover { font-weight: 600;
        color: red;
    }
}

.nav-list i {
    font-size: 1.1rem;
    cursor: pointer;


    &:hover {
        color: brown;
    }
}

#botão-hamburguer {
    display: none;
    font-size: 2rem;
}

.home {
  display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    max-width: 1400px; 
    margin: 0 auto; 
}


.home-text {
    width: 50%; 
    max-width: none; 
    padding-left: 5%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   


}

.home-image {
  
    width: 50%;
    margin-left: 10rem;
}

.home-image img{
    width: 100%;
    padding: 5%;
}

.home-text h4 {
    font-size: 1.1rem;
    color: red;
    letter-spacing: 2px;
    margin-bottom: 1rem;
   
}

.home-text h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: red;
    font-weight: 800;
    text-transform: uppercase;
   
    
}

.home-text p {
    margin-bottom: 4rem;
    font-weight: 500;
   
}

.home-text a { background-color: red;
color: #fff;
padding: 1rem;
font-weight: 600;
border-radius: 50px;



}



footer {
    background-color: #F02B15;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;


}

.sobre {
    width: 50%;
    border: 1px solid #FFF;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre h1 {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 2rem;
    color: #000000;
}

.sobre p {
    text-align: justify;
    margin-top: 2rem;
    line-height: 2rem;
   
    height: 30vh;
    padding: 20px;
}
.termos {
    margin-right:15%;
}

.termos ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

}

.termos a {
    color: #000000;
    font-weight: 500;

}


.produtos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;  
    margin-left: 3rem;
}

.produtos h1 {
    font-size: 3rem;
    color: #F02B15;
    font-weight: 800;
    text-align: center;
    display: block;
    margin-bottom: 2rem;
    text-transform: uppercase;
}




.produto {
    width: 20%;
    border: 1px solid #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    margin-bottom: 4rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.produto img {
    width: 100%;
    padding: 5%;
}

.produto p , h2 {
    text-align: center;
}

.preço {
    font-size: 1.5rem;
    color: red;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 2rem;
    font-weight: 700;
    padding: 0.2rem 1rem;
    border-radius: 50px;
    margin-top: 1rem;
}

.botão-compre {
    background-color: #F02B15;
    color: #fff;
    padding: 1rem;
    font-weight: 600;
    border-radius: 50px;
    margin-top: 1rem;
    text-align: center;
    width: 100%;

    &:hover {
        background-color: rgb(158, 0, 0);
        letter-spacing: 2px;
    }
}


#carrinho {
   
    cursor: pointer;
    color: #000000;

    &:hover {
        color: brown;
        letter-spacing: 2px;
        
    }
}

#carrinho-count {
    position: absolute; /* Flutua em relação ao container */
            top: 8px;  /* Ajuste fino da posição vertical */
            right: 90px; /* Ajuste fino da posição horizontal */
     
            color: rgb(255, 0, 0);
            border-radius: 50%; /* Deixa redondo */
            padding: 1px 5px; /* Tamanho da bolinha */
            font-size: 15px; /* Tamanho do número */
            font-weight: bold;
          

}





















@media (max-width: 768px) {

    body {
        overflow: none;
        height: 0;
    }

    .navegação {
        flex-direction: column;
        gap: 2rem;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

        .nav-list {
            display:none;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
          

        }

        .nav-list.active {
            display: flex;
            flex-direction: column;
            width: 100%;

        }

        

        #botão-hamburguer {
            display: block;
            cursor: pointer;

        }

        .logo {
            font-size: 2rem;
        }

        .home {
            flex-direction: column;
            overflow: none;
            align-items: center;
            justify-content: center;
            margin-top: 15rem;
        }

        .home-text {
            width: 100%;
            
            
        }

        .home-image {
            width: 100%;
            margin-top: 5rem;
            margin-left: 0;
        }

       .home-text a {
        width: 100%;
      

        &:hover {
            background-color: rgb(158, 0, 0);
        }
       }

       #carrinho-count {
    position: absolute; /* Flutua em relação ao container */
            top: 295px;  /* Ajuste fino da posição vertical */
            right: 210px; /* Ajuste fino da posição horizontal */
             /* Vermelho chamativo */
            color: rgb(255, 0, 0);
            border-radius: 50%; /* Deixa redondo */
            padding: 1px 5px; /* Tamanho da bolinha */
            font-size: 20px; /* Tamanho do número */
            font-weight: 900;
            
           


}


    .produtos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        border-top: 1px solid grey;
        padding-top: 5rem;
    }

    .produtos-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5rem;  
        margin-left: 3rem;
        
    }
    
    .produtos h1 {
        font-size: 3rem;
        color: #F02B15;
        font-weight: 800;
        text-align: center;
        display: block;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    .produto {
        width: 90%;
        border: 1px solid #fff;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid gray;
        margin-bottom: 4rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }



   
        


}


@media (max-width: 1270px) and (min-width: 768px) {
    .produto {
        width: 28%;
        margin-bottom: 4rem;
    }
} 